.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.paragraph {
  line-height: 1.5;
  margin: 0;

  p {
    display: inline;
    margin: 0;
  }

  a {
    word-break: break-word;
  }
} 