@use '../../styles/main.scss' as *;

.propertySubHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 16px 0;
}

.addressContainer {
  flex: 1;
}

.address {
  margin: 0;
  font-weight: 500;
  color: #1F1F1F;
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  
  a {
    display: inline-flex;
    align-items: center;
    text-decoration: underline;
  }
} 