@use '@styles/main' as main;

.header {
  margin: 0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;

  @include main.at-media-max('mobile-lg') {
    font-size: 16px;
  }
}

.text {
  margin: 0px;
  line-height: 28px;
  letter-spacing: 0.192px;
}

.cardGroup {
  :global(.group) {
    @include main.at-media-max('mobile-lg') {
      --cards-per-row: 1;
    }
  }
}

.exemptionContent {
  .text {
    margin-bottom: 16px;
  }
}

.list {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;

  li {
    line-height: 28px;
    letter-spacing: 0.192px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.netTax {
  font-size: 20px;
  font-weight: bold;
}

.buttonContainer {
  margin-top: 24px;

  // Style for "Pay Your Taxes" button
  .usa-button {
    font-family: 'Montserrat', system-ui, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    height: 24px;
    line-height: 24px;
    padding: 0 16px;
  }
}