.successMessage {
  display: flex;
  width: 306px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-family: 'Lora', serif;
  font-weight: bold;
  border-radius: 4px;
  background: #D1E3F2;
} 