@use '../../styles/main.scss' as *;

.searchHeader {
  width: 100%;
}

.heading {
  padding: 10px 0px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 4px solid;
  width: 100%;
  margin-bottom: 2rem; /* 32px equivalent */
}

.description {
  width: 100%;
}

.bulletPoints {
  width: 100%;
}

.bulletLabel {
  font-weight: bold;
}

li {
  margin-bottom: 1rem;
}

li:last-child {
  margin-bottom: 0;
} 