@use '../../styles/main.scss' as *;

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 8px;
  color: #58585B !important;
  box-shadow: inset 0 0 0 2px #58585B !important;
  
  svg path, img {
    fill: #58585B;
  }
  
  &:hover {
    color: #1871BD !important;
    box-shadow: inset 0 0 0 2px #1871BD !important;
  }
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.montserratText {
  font-family: 'Montserrat', system-ui, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.loraText {
  font-family: 'Lora', system-ui, serif;
  font-weight: 400;
  text-transform: none;
} 