@use '../../styles/main.scss' as main;

.propertyDetailsPage {
  min-height: 100vh;
  width: 100%;
  background-color: #F7F7F7;
}

.error {
  @include main.grid-container;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;

  h1 {
    color: #091F2F;
    margin-bottom: 1rem;
  }

  p {
    color: #58585B;
    max-width: 600px;
    margin: 0 auto;
  }
} 