@use '@styles/main' as main;

.section {
  display: flex;
  gap: 80px;
  margin: 16px;

  @include main.at-media-max('mobile-lg') {
    flex-direction: column;
    gap: 24px;
    margin: 0;
  }

  &:first-child {
    margin-top: 0;
  }
}

.leftContent {
  flex: 1;
}

.rightContent {
  flex: 0;
  margin: 0 24px;

  @include main.at-media-max('mobile-lg') {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.locationContainer {
  display: flex;
  align-items: center;
}

.locationIcon {
  margin-right: 6px;
}

.imageContainer {
  position: relative;
  display: inline-block;
}

.propertyImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;

  @include main.at-media-max('mobile-lg') {
    width: 100%;
    height: 240px;
  }
}

.placeholderImage {
  width: 200px;
  height: 200px;
  background-color: #D3D3D3;
  display: flex;
  align-items: center;
  justify-content: center;
  
  @include main.at-media-max('mobile-lg') {
    width: 100%;
    height: 240px;
  }
}

.placeholderText {
  color: #666666;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.targetIcon {
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  
  &:hover {
    opacity: 0.8;
  }
}

.mapLink {
  display: block;
  margin-top: 12px;
  text-align: left;
  font-size: 18px;
  
  @include main.at-media-max('mobile-lg') {
    text-align: center;
    margin-top: 16px;
    font-size: 16px;
  }
}

.divider {
  margin-top: 16px;
  margin-bottom: 16px;
  height: 1px;
  background-color: #D2D2D2;
}

.sectionHeader {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 6px;
  font-size: 18px;
}

.sectionIcon {
  width: 24px;
}

.sectionTitle {
  margin: 0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;

  @include main.at-media-max('mobile-lg') {
    font-size: 18px;
  }
}

.sectionContent {
  margin-left: 30px;
}

.ownerNames {
  margin-bottom: 8px;
  
  .ownerName {
    margin-bottom: 0px;
  }
}

.ownerDisclaimers {
  .ownerDisclaimer {
    margin-top: 0;
    margin-bottom: 0px !important;
    color: #58585B;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 80px;
    font-style: italic;

    &:last-child {
      margin-bottom: 0;
    }

    @include main.at-media-max('mobile-lg') {
      margin-right: 0;
    }
  }
}

.cardGroupSection {
  width: 100%;

  &.desktop {
    @include main.at-media-max('mobile-lg') {
      display: none;
    }
  }

  &.mobile {
    display: none;

    @include main.at-media-max('mobile-lg') {
      display: block;
    }
  }
}

.buttonGroup {
  display: flex;
  gap: 16px;
  align-items: center;

  @include main.at-media-max('mobile-lg') {
    flex-direction: column;
    width: 100%;
    gap: 0;
    box-sizing: border-box;
    
    a {
      width: 100%;
    }

    button {
      width: 100%;
    }
  }
} 

@media print {
  .buttonGroup,
  .mapLink,
  .imageContainer {
    display: none !important;
  }
  .section {
    gap: 24px !important;
    margin: 0 !important;
  }
  .divider {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
  }
  .sectionHeader, .sectionTitle, .sectionContent, .ownerDisclaimer {
    font-size: 13px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .propertyImage {
    display: none !important;
  }
  .targetIcon {
    display: none !important;
  }
} 