@use '../../styles/main.scss' as *;

.container {
  width: 100%;
  padding: 2rem 0;
}

.heading {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
}

.tableContainer {
  margin-top: 1rem;
}

.detailsLink {
  color: #0071bc;
  text-decoration: underline;
  
  &:hover {
    text-decoration: none;
  }
} 