@use '@styles/main' as main;

.resultsContainer {
  display: flex;
  flex-direction: column;
}

.loadingContainer {
  text-align: center;
  padding: 2rem;
}

.resultsHeader {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 700;
}

.resultsDescription {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 1.125rem;
  color: #555;
}

.detailsLink {
  color: #0071bc;
  text-decoration: underline;
}

.resultsTable {
  margin-top: 24px;
}