@use '../../styles/main.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  color: white;
}

.logo {
  display: block;
  margin: 0 auto;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 32px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  @include at-media-max('mobile-lg') {
    font-size: 20px;
    //margin-top: 16px;

    &.hideOnMobile {
      display: none;
    }
  }
}

.description {
  margin-top: 40px;

  @include at-media-max('mobile-lg') {
    margin-top: 0;
    font-size: 18px;
    line-height: 1.5;

    &.hideOnMobile {
      display: none;
    }
  }
}

.mobileAdditionalContent {
  display: none;

  @include at-media-max('mobile-lg') {
    display: block;
    margin: 25px 0;
  }
}

.desktopAdditionalContent {
  display: block;
  margin-top: 32px;

  @include at-media-max('mobile-lg') {
    display: none;
  }
} 