.container {
  display: flex;
  flex-direction: column;
  color: white;
}

.logo {
  display: block;
  margin: 0 auto;
}

.title {
  margin-top: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

.description {
  margin-top: 40px;
} 